.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 10px 10px;
    font-size: 12px;

  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  .react-flow__node{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: 0px 0px 0 1px rgba(116, 115, 115, 0.7);
  }
  .dndflow .dndnode {

    width: 125px;
    height: 35px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: grab;
    background-color: #d3d3d363;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .dndflow .dndnode.input {
    border-color: #0041d0;
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
      border-left: 2px solid #f4f4f4;
    }
  }
  .nav {background-color: #dfdfdf;
  width: 100%;
  height: 9%;}
  .btn{
    width: 125px;
    height: 44px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 90%;
  height: 35px;
   border-radius: 4px;
}